<div class="main-footer">
    <div class="sub-footer">
        <div class="container">
            <ul>
                <li><i class="fa-solid fa-truck fa-2x"></i><br /><br /><span>Livraison en 72 heures</span></li>
                <li><i class="fa-solid fa-snowflake fa-2x"></i><br /><br /><span>Chaine du froid préservée</span></li>
                <li><i class="fa-solid fa-headset fa-2x"></i><br /><br /><span>Support client 5 jours sur 7</span></li>
                <li><i class="fa-solid fa-credit-card fa-2x"></i></i><br /><br /><span>Paiement en 3 ou 4X sans frais*</span></li>
            </ul>
            <p>
                *Paiement en plusieurs fois sans frais par carte bancaire.<br />
                Paiement en 3 fois sans frais à partir de 100 €.<br />
                Paiement en 4 fois sans frais à partir de 250 €.<br />
                Un paiement en plusieurs fois vous engage et doit être honoré.
            </p>
        </div>
    </div>
    <div class="sub-footer">
        <div class="container two-cols">
            <div class="row">
                <div class="col-6 left">
                    <div class="title">besoin d'aide ?</div>
                    <div class="entete">
                        Toutes les réponses à vos questions<br />
                        sur nos pages ci-dessous
                    </div>
                    <ul class="footer-links">
                        <li><a href="https://docs.lyra.com/fr/support/" target="_blank">Aide et contact&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>></span></a></li>
                        <li><a href="https://docs.lyra.com/fr/collect/marketplace/mkpl-homepage.html" target="_blank">Documentation de l'API&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>></span></a></li>
                        <li><a href="https://www.lyra.com/fr/marketplace/" target="_blank">L'offre Lyra Collect Marketplace&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>></span></a></li>
                    </ul>
                </div>
                <div class="col-6 right">
                    <div class="title">lyra collect</div>
                    <div class="entete">
                        Découvrez qui nous sommes !
                    </div>
                    <div class="call"><a href="https://www.lyra.com/fr/" target="_blank">VISITER</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer">
        <div class="container paymentmeansList">
            <ul>
                <li><img src="/img/cb.png" alt="Logo CB"></li>
                <li><img src="/img/visa.png" alt="Logo Visa"></li>
                <li><img src="/img/mastercard.svg" alt="Logo Mastercard"></li>
                <li><img src="/img/applepay.png" alt="Logo ApplePay"></li>
                <li><img src="/img/ip.png" alt="Logo IP"></li>
            </ul>
        </div>
    </div>
</div>