<div class="slider">
    <div class="slider-content text1">
        Ce site est une démonstration de l'API Marketplace Lyra Collect
    </div>
    <div class="slider-content text2">
        L'entreprise <i>La Maison du Cheesecake</i> est fictive
    </div>
    <div class="slider-content text3">
        Pour plus d'informations, rendez-vous <a href="https://docs.lyra.com/fr/collect/marketplace/mkpl-homepage.html" target="_blank">ICI</a>
    </div>
</div>
<div class="main-header">
    <div class="container">
        <a href="/">
            <img src="/img/maisoncheesecake.svg" alt="Logo La Maison du Cheesecake" class="logo-site">
        </a>
        <ul class="menu-left">
            <li class="first active">cheesecakes</li>
            <li class="second">desserts</li>
            <li class="third">accessoires</li>
        </ul>
        <ul class="menu-right">
            <li><i class="fa-solid fa-circle-info fa-2x"></i><a href="infos">infos</a></li>
            <li class="account"><i class="fa-solid fa-user fa-2x"></i><span>compte</span></li>
            <li><i class="fa-solid fa-bag-shopping fa-2x"></i><a href="panier">panier</a></li>
        </ul>
        <div class="menu-connect">
            <ul>
                <li><a href="compte/connexion">SE CONNECTER</a></li>
                <li><a href="compte/commandes">Voir mes commandes</a></li>
                <li><a href="compte/adresses">Mes adresses</a></li>
                <li><a href="compte/infos">Mes informations de connexion</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="menu-left-detail">
    <div class="container cheesecake">
        <ul>
            <li><a href="cheesecakes/classiques">classiques</a></li>
            <li><a href="cheesecakes/fruites">fruités</a></li>
            <li><a href="cheesecakes/chocolat">Chocolat</a></li>
            <li><a href="cheesecakes/confiserie">Confiserie</a></li>
        </ul>
    </div>
    <div class="container dessert">
        <ul>
            <li><a href="desserts/tartes">tartes</a></li>
            <li><a href="desserts/cakes">cakes</a></li>
            <li><a href="desserts/douceurs">douceurs</a></li>
            <li><a href="desserts/evenements">événements</a></li>
        </ul>
    </div>
    <div class="container accessoire">
        <ul>
            <li><a href="accessoires/assiettes">assiettes</a></li>
            <li><a href="accessoires/couverts">couverts</a></li>
            <li><a href="accessoires/Mugs">mugs &#x26; tasses</a></li>
            <li><a href="accessoires/plats">plats</a></li>
            <li><a href="accessoires/nappes">nappes</a></li>
            <li><a href="accessoires/decorations">décorations</a></li>
        </ul>
    </div>
</div>